### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
import os
test1 = 'This is a test of the emergency text system'
file = open('test.txt', 'w')
file.write(test1)
file.close()

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
test2 = open('test.txt','r')
for i in test2:
    print(i)
print(test1)

This is a test of the emergency text system
This is a test of the emergency text system

No difference between test1 and test2.

### 3. Create a CSV file called books.csv by using these lines:
title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [44]:
string="""
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
"""
import os
file = open('book.csv', 'w')
file.write(string)
file.close()
file = open("book.csv",'r')
for i in file:
    print(i)
    
file.close()

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [80]:
import sqlite3

conn=sqlite3.connect("book.db")
cur=conn.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS book(title text,author text,year integer)")
conn.commit()
conn.close()

### 5. Read books.csv and insert its data into the book table.

In [83]:
import sqlite3

conn=sqlite3.connect("book.db")
cur=conn.cursor()

cur.execute("INSERT INTO book VALUES ('The Weirdstone of Brisingamen','Alan Garner',1960)")
cur.execute("INSERT INTO book VALUES ('Perdido Street Station','China Miéville',2000)")
cur.execute("INSERT INTO book VALUES ('Thud!','Terry Pratchett',2005)")
cur.execute("INSERT INTO book VALUES ('Terry Pratchett','Lisa Lutz',2007)")
cur.execute("INSERT INTO book VALUES ('Small Gods','Terry Pratchett',1992)")

### 6. Select and print the title column from the book table in alphabetical order.

In [85]:
for row in cur.execute('SELECT * FROM book ORDER BY title'):
    print(row)

('Perdido Street Station', 'China Miéville', 2000)
('Small Gods', 'Terry Pratchett', 1992)
('Terry Pratchett', 'Lisa Lutz', 2007)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Thud!', 'Terry Pratchett', 2005)

### 7. From the book table, select and print all columns in the order of publication.

In [86]:
for row in cur.execute('SELECT * FROM book ORDER BY year'):
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('Terry Pratchett', 'Lisa Lutz', 2007)

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [90]:
import sqlalchemy
import pandas as pd

dbEngine=sqlalchemy.create_engine('sqlite:////book.db') 
dbEngine

Engine(sqlite:////book.db)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
import redis
import pyodbc
import sqlalchemy as sal
from sqlalchemy import create_engine
import pandas as pd
test = redis.Redis( host='localhost', port=8888)
test.set('name', 'Fester Bestertester')
value = test.get('name')
print("Value from Redis -->", value)

### 10. Increment the count field of test and print it.